    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navigation menu */

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.logo{
    padding-left: 20px;
    text-decoration: none;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-list ul{
    
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-right: 40px;
}

.navbar-list ul li{
    padding: 30px;
    list-style-type: none;
    font-size: 20px;
}

.navbar-list ul li a{
    text-decoration: none;
    color: #000;
}

.navbar-list a:hover{
    color: #1C6758;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px ;
}
.login{
    width: 80px;
    height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
}

.login a {
    color: #000;
    text-decoration: none;
}

.login:hover{
    cursor: pointer;
    background: #1C6758;
}

.login a:hover{
    color: #EEF2E6;
}

/* dropdown navigation Category */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #678983;
}


.Category{
    
    height: 80px;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul li a{
    text-decoration: none;
    color: #1a1a1a;
    display: inline-block;
}
.dropbtn{
    background: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 20px ;
    width: 300px;
    cursor: pointer;
}

#vert-nav{
    background-color: #fff;
    border: 1px solid #000;
    margin: 20px;
    width: 300px; 
    list-style-type: none;
}

.vert-nav-list{
    padding : 15px;
    text-align: center;
    border: 1px solid #000;
    font-size: 18px;
}

.vert-nav-list a:hover{
    color: #EEF2E6;
}


.vert-nav-list:hover{
    cursor: pointer;
   background-color: #227C70;
}

.show{
    display: block;
}

.new a{
 color: #1a1a1a;
 text-decoration: none;
}

.newbtn{
    background: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 20px ;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
    }

.goods a{
    color: #1a1a1a;
    text-decoration: none;
}    
 
.goodsbtn{
    background: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 20px ;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
}

.carousel{
    height: 100vh;
    display: grid;
    place-items: center;
}
.carousel-container{
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden; 
}

.slider{
    display: flex;
    transition: transform 0.8 ease;
}

.slider img{
    max-width: 100%;
    margin-right: 10px; 
    
}

#image-1{
    width: 1100px;
    height: 550px;
    object-fit: cover;
}

#image-2{
    width: 1100px;
    height: 550px;
    object-fit: cover;
}

#prev,
#next{
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: 50%; */
    transform: translate(-5%, -50%);
    cursor: pointer;
}

#prev{
    left: 5%;
}

#next{
    right: 5%;
}

#next.disable{
    pointer-events: none;
    opacity: 0.5;
}



.footer{
    width: 100%;
    height: 300px;
    background-color: #1C6758;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.footer-links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.social-media-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    width: 200px;
    text-align: left;
}

.social-media-cont h3{
    color: #EEF2E6;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.social-media-lists{
    list-style-type: none;
    color:#EEF2E6;
    padding: 10px;
    text-transform: capitalize;
}



.rights{
    color: #EEF2E6;
}



