*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navigation menu */
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
.logo{
    padding-left: 20px;
    text-decoration: none;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-list ul{
    
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-right: 40px;
}

.navbar-list ul li{
    padding: 30px;
    list-style-type: none;
    font-size: 20px;
}

.navbar-list ul li a{
    text-decoration: none;
    color: #000;
}

.navbar-list a:hover{
    color: #1C6758;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px ;
}
.login{
    width: 80px;
    height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
}

.login a {
    color: #000;
    text-decoration: none;
}

.login:hover{
    cursor: pointer;
    background: #1C6758;
}

.login a:hover{
    color: #EEF2E6;
}


/* dropdown navigation Category */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1c6758;
}


.Category{
    
    height: 80px;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul li a{
    text-decoration: none;
    color: #1a1a1a;
    display: inline-block;
}
.dropbtn{
    background: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 20px ;
    width: 300px;
    cursor: pointer;
}

#vert-nav{
    background-color: #fff;
    border: 1px solid #000;
    margin: 20px;
    width: 300px; 
    list-style-type: none;
}

.vert-nav-list{
    padding : 15px;
    text-align: center;
    border: 1px solid #000;
    font-size: 18px;
}

.vert-nav-list a:hover{
     color: #EEF2E6;
}

.vert-nav-list:hover{
    cursor: pointer;
   background-color: #1c6758;
}

.show{
    display: block;
}

.new a{
 color: #1a1a1a;
 text-decoration: none;
}

.newbtn{
    background: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 20px ;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
    }

.goods a{
    color: #1a1a1a;
    text-decoration: none;
}    
 
.goodsbtn{
    background: #EEF2E6;
    border: 1px solid #EEF2E6;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 20px ;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
}

.product-container{
    padding: 10vh 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.pdct-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.discount{
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color:#1a1a1a;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

.product-info{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
    text-align: center;
}

.product-description{
    width: 100%;
    height: 20px;
    overflow: hidden;
    opacity: 0.7;
    text-transform: capitalize;
    text-align: center;

}

.price{
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.7;
    text-decoration: line-through;
}